<!DOCTYPE html>
<html>
<head>
    <title>mBld Scrambler</title>
    <link rel="stylesheet" href="/static/importexport.css">
</head>
<body>
    <h1>MultiBlind scrambler id:{{id}}</h1>
    <div class="container">
        <form id="textForm" style="display: flex; flex-direction: column; height: 100%; width: 100%; align-items: center;">
            <textarea id="inputText" name="input_text" placeholder="">{{field_text}}</textarea>
            <div class="button-container">
                <button type="submit" class="button button-submit">Submit</button>
                <button type="reset" class="button button-reset">Reset</button>
                <a href="/"><button type="button" class="button button-home">Home</button></a>
            </div>
        </form>

        <!-- New Input Field for ID and Save Button -->
        <div class="save-container" style="margin-top: 20px;">
            <input type="text" id="cookId" name="cook_id" placeholder="Enter ID" style="padding: 10px; font-size: 16px; width: 80%; box-sizing: border-box;">
            <button id="saveButton" class="button button-save" style="background-color: #ff9800;">Save</button>
        </div>

        <div id="result" class="result" style="display: none;"></div>
    </div>
    <footer><small>Made by <a href="https://github.com/mankifg/">Mankifg</a> with <a href="https://github.com/euphwes/pyTwistyScrambler">pyTwistyScrambler</a> and <a href="https://github.com/trincaog/magiccube">magiccube</a>.</small></footer>

    <script>
        
        document.getElementById('textForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            const response = await fetch('/userscrambleget', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').style.display = 'block';
            document.getElementById('result').innerText = result.output;
        });

        // Event listener for Save button
        document.getElementById('saveButton').addEventListener('click', async function() {
            const cookId = document.getElementById('cookId').value;
            if (cookId) {
                const response = await fetch(`/save_cook?v=${cookId}`, {
                    method: 'POST'
                });
                const result = await response.text();
                alert(`Response: ${result}`);
                window.location.reload();

            } else {
                alert('Please enter an ID.');
            }
        });
    </script>
</body>
</html>