<!DOCTYPE html>
<html>
<head>
    <title>mBld Scrambler</title>
    <link rel="stylesheet" href="/static/styles.css">

   
</head>
<body>
    <h1>MultiBlind scrambler</h1>
    <a href="/scramble">
        <button type="button" class="button button-go">Go to scrambles</button>
    </a>
 
    <br>
    <div class="container">
        <p id="finish"></p>
    <div class="loader">
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
    </div>
    </div>
    <form id="newScrambleForm">
        <label for="cubes">Number of cubes:</label>
        <input type="number" id="cubes" name="cubes" value="10" min="2" max="201" oninput="updt()">
        <label for="cubeperpage">Cubes per page: </label>
        <input type="number" id="cubeperpage" name="cubeperpage" min="1">
        <label for="cubeperpage">Pages: </label>
        <input type="number" id="pages" name="pages"  min="1">
        <label for="cubeperpage">Add: </label>
        <input type="number" id="add" name="add" value="1" min="0">
        <br>
        <label for="cubes">Please wait for scrambles to generate (rate: 200/min)</label>
        <br>
        <button type="submit" class="button button-save">Save algs to cookie</button>
    </form>

    
    <br>
    Or instead use custom scramble 
    <a href="/importexport">
        <button type="button" class="button button-custom">Import / Export Scrambles</button>
    </a>
    <br>

    <p id="error">{{error}}</p> 
    <footer>Made by <a href="https://github.com/mankifg/">Mankifg</a> with <a href="https://github.com/euphwes/pyTwistyScrambler">pyTwistyScrambler</a> and <a href="https://github.com/trincaog/magiccube">magiccube</a>.</footer>

    <script>
        function updt() {
            n = document.getElementById("cubes").value;
                
            const sq = Math.floor(Math.sqrt(n));
            const sec = Math.floor(n / sq);
            let rem = n - sq * sec;
        
            const sq1 = sq + 1;
            const sec2 = Math.floor(n / sq1);
            const rem2 = n - sq1 * sec2;
        
            let width, height;
            if (rem < rem2) {
                width = sq;
                height = sec;
            } else {
                width = sq1;
                height = sec2;
                rem = rem2;
            }
        
            console.log(`${n}=${width}x${height}+${rem}`);
            
            document.getElementById("cubeperpage").value = width;
            document.getElementById("pages").value = height;
            document.getElementById("add").value = rem;
        }

        updt()
        document.querySelector('.loader').style.display = 'none';
        document.getElementById("finish").innerHTML = '';

        document.getElementById('newScrambleForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // Show the loader / hide the "Done"
            document.getElementById("finish").innerHTML = '';
            document.querySelector('.loader').style.display = 'block';

            const cubesperpage = document.getElementById('cubeperpage').value;
            const pages = document.getElementById('pages').value;
            const add = document.getElementById('add').value;

            fetch(`/save_scr?cpp=${cubesperpage}&pages=${pages}&add=${add}`, {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                document.querySelector('.loader').style.display = 'none';
                document.getElementById("finish").innerHTML = 'Done';
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                // Hide the loader
                
            });
        });
    </script>
</body>
</html>