<!DOCTYPE html>
<html>
<head>
    <title>mBld Scrambler</title>
    <link rel="stylesheet" href="/static/scramble.css">

</head>
<body>
    <h1>Scrambles (page {{ index + 1 }}):</h1>
    <div class="button-container">
        <form method="post" action="/set_index/{{ index + 1 }}" style="display: inline;">
            <button type="submit" id="next" class="button button-next">Next</button>
        </form>
        <form method="post" action="/set_index/{{ index - 1 }}" style="display: inline;">
            <button type="submit" id="back" class="button button-previous">Previous</button>
        </form>
        <a href="/">
            <button type="submit" class="button button-home">Home</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>N</th>
                <th>Image</th>
                <th>Scramble</th>
            </tr>
        </thead>
        <tbody>
            {% for item, scr, num in comb %}
                <tr>
                    <td id="num">{{ num }}</td>
                    <td><img src="https://uface.vercel.app/image?uface={{ scr }}" height="50" width="50"></td>
                    <td id="scrm">{{ item }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('keydown', function(event) {
            // Check if the pressed key is the spacebar
            if (event.code === 'Space') {
                event.preventDefault(); // Prevent the default spacebar action (scrolling the page down)
                document.getElementById('next').click(); // Simulate button click
            }
        }); 
    </script>
</body>
</html>